@model IEnumerable<tiemsach.Data.Nguoidung>

@{
    ViewData["Title"] = "Index";
}


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <span> <a href="Khachhangs" class="btn btn-inverse-primary btn-fw">Thêm khách hàng</a>  <a href="Nhanviens" class="btn btn-inverse-primary btn-fw">Thêm nhân viên</a></span>
            <div class="table-responsive pt-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Họ tên
                            </th>
                            <th>
                                Giới tính
                            </th>
                            <th>
                                Vai trò
                            </th>
                            <th>
                                Số điện thoại
                            </th>
                            <th>
                                Địa chỉ
                            </th>
                            <th>
                                Tình trạng
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Image)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Password)
                            </th>
                            @*<th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedAt)
            </th>*@
                            <th>
                                Quyền
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Hoten)
                                </td>
                                @if (item.Gioitinh)
                                {
                                    <td>Nam</td>
                                }
                                else
                                {
                                    <td>Nữ</td>
                                }
                                @if (item.Vaitro)
                                {
                                    <td>Nhân viên</td>
                                }
                                else
                                {
                                    <td>Khách hàng</td>
                                }

                @*@Html.DisplayFor(modelItem => item.Vaitro)*@
            <td>
                @Html.DisplayFor(modelItem => item.Sodienthoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tinhtrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedAt)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Quyen.Ten)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
</div></div></div></div>