@model tiemsach.Data.Sach

@{
    ViewData["Title"] = "Xóa sách";
}

<h1>XÓA</h1>

<h3>Bạn chắc chắn muốn xóa sách này?</h3>
<div>
    <h4>Sách</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên:
        </dt>
        <dt class="col-sm-2">
            Loại sách:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loaisach.Ten)
        </dd>
        <dt class="col-sm-2">
            Tác giả:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tacgia.Ten)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class="col-sm-2">
            Hình ảnh:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="col-sm-2">
            Giá nhập:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gianhap)
        </dd>
        <dt class="col-sm-2">
            Giá xuất:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Giaxuat)
        </dd>
        <dt class="col-sm-2">
            Mô tả:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mota)
        </dd>
        <dt class="col-sm-2">
            Số lượng:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Soluong)
        </dd>
        <dt class="col-sm-2">
            Tình trạng:
        </dt>
        <dd class="col-sm-10">
            Đang bán
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="XÓA" class="btn btn-danger" /> |
        <a asp-action="Index">Quay về danh sách</a>
    </form>
</div>
