@model IEnumerable<tiemsach.Data.Sach>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Loại sách
            </th>
            <th>
                Tác giả
            </th>
            <th>
                Giá nhập
            </th>
            <th>
                Giá xuất
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Tình trạng
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        if(item.Tinhtrang == true){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loaisach.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tacgia.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gianhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Giaxuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tinhtrang)
                @(item.Tinhtrang ? "Đang bán" : "Ngưng bán")
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
        }

}
    </tbody>
</table>
