@model tiemsach.Data.Quyen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quyen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tinhtrang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tinhtrang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cnnguoidung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cnnguoidung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cntacgia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cntacgia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cnloaisach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cnloaisach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cnsach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cnsach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cnquyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cnquyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cnnhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cnnhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cnxuat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cnxuat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cnnxb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cnnxb)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
