@model IEnumerable<tiemsach.Data.Quyen>

@{
    ViewData["Title"] = "Index";
}
<p>
</p>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @*<a asp-action="Create" class="btn btn-inverse-primary btn-fw">Thêm mới</a>*@ 
            <div class="table-responsive pt-3">
                <table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Tên
            </th>
            <th>
                Tình trạn
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.DeletedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Cnnguoidung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cntacgia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnloaisach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnsach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnquyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnnhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnxuat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnnxb)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tinhtrang)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DeletedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Cnnguoidung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cntacgia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cnloaisach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cnsach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cnquyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cnnhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cnxuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cnnxb)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
</div></div></div></div>