  <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Dashboard")"  >
              <i class="ti-shield menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
         


           <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Nhanviens")"  >
              <i class="ti-shield menu-icon"></i>
              <span class="menu-title">Nhân viên</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Khachhangs")"  >
              <i class="ti-shield menu-icon"></i>
              <span class="menu-title">Khách hàng</span>
            </a>
          </li>

              <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Tacgias")"  >
              <i class="ti-shield menu-icon"></i>
              <span class="menu-title">Tác giả</span>
            </a>
          </li>



           <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Loaisaches")"  >
              <i class="ti-shield menu-icon"></i>
              <span class="menu-title">Loại sách</span>
            </a>
          </li>

           <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Saches")"  >
              <i class="ti-shield menu-icon"></i>
              <span class="menu-title">Sách</span>
            </a>
          </li>

       

           <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Phieunhap")"  >
              <i class="ti-shield menu-icon"></i>
              <span class="menu-title">Phiếu nhập</span>
            </a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Phieuxuats")"  >
              <i class="ti-shield menu-icon"></i>
              <span class="menu-title">Phiếu xuất</span>
            </a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Nguoidungs")">
                <i class="ti-shield menu-icon"></i>
                <span class="menu-title">Người dùng</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Quyens")">
                <i class="ti-shield menu-icon"></i>
                <span class="menu-title">Quyền</span>
            </a>
        </li>


        </ul>
      </nav>